/Exam/.vs
/Exam/Debug
/Exam/Exam/Debug
/Patern/.vs
/Patern/Debug
/Patern/Patern/Debug
/Proxy/.vs
/Proxy/Debug
/Proxy/Proxy/Debug
/Patern Bright/.vs
/Patern Bright/Debug
/Patern Bright/Patern Bright/Debug
/Patern Observe/.vs
/Patern State/.vs
/Patern State/Debug
/Patern State/Patern State/Debug
/HW AbsFabrika/.vs
/HW AbsFabrika/Debug
/HW AbsFabrika/HW AbsFabrika/Debug
/HW conveer/.vs
/HW conveer/Debug
/HW conveer/HW conveer/Debug
/HW Singlton/.vs
/HW Singlton/Debug
/HW Singlton/HW Singlton/Debug
/HW upgrade TRIO/.vs
/HW upgrade TRIO/Debug
/HW upgrade TRIO/HW upgrade TRIO/Debug